

input{
    background-color: white;
    color: black;
    padding: 5px;
    margin: 5px;
    width: 20%;
    align-items: center;
    justify-content: center;
}

ul{
    list-style: none;
}

button {
    background-color: transparent;
    box-sizing: border-box;
    padding: 5px 10px;
    border: none;
    box-shadow: lightgray 3px 3px 7px;
    margin-right: 20px;
    outline: none;
    font-size: 14px;
    font-weight: 500;
    border-radius: 5px;

    &:active {
        transform: translate(1px, 1px);
        box-shadow: lightgray 0 0 5px;
    }
}   

button:hover{
    background-color: rgb(34, 9, 175);
    color: #fff;
}
