<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
  <h2>
    Feuille de presence
  </h2>
</div>

<div class="content" role="main">

  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2>Les etudiants</h2>
        <p>Mis à jour : {{ lastUpdate | date }}</p>
        <ul class="list-group">
          <app-students *ngFor ="let student of students"
            [studentName]="student.name"
            [studentStatus]="student.status"></app-students>
          <button class="btn btn-success" 
            [disabled]="!isAuth"
            (click)="allPresent()">Tous present</button>
          <button class="btn btn-danger" 
            [disabled]="!isAuth"
            (click)= "allAbsent()">Tous Absent</button>
          <button class="btn btn-danger" 
            [disabled]="!isAuth"
            (click)= "allLate()">Tous en retard </button>
        </ul>
      </div>
    </div>

  </div>

</div>