<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
</div>

<div class="content" role="main">

  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2>Les etudiants</h2>
        <ul class="list-group">
          <app-students [studentName]="studentOne"></app-students>
          <app-students [studentName]="studentTwo"></app-students>
          <app-students [studentName]="studentThree"></app-students>
          
          <button class="btn btn-success" [disabled]="!isAuth" (click)="allPresent()">Tous present</button> 

        </ul>
      </div>
    </div>

  </div>

</div>